<div class="navs">
  <ul class="nav nav-pills">
    <li
      role="presentation"
      routerLink="/templateDriven"
      routerLinkActive="active"
      class="pointer"
    >
      <a>Template Driven Form</a>
    </li>
    <li
      role="presentation"
      routerLink="/reactiveForm"
      routerLinkActive="active"
      class="pointer"
    >
      <a>Reactive Form</a>
    </li>
    <li
      role="presentation"
      class="pointer"
      routerLink="/stepperForm"
      routerLinkActive="active"
    >
      <a>Stepper Form</a>
    </li>
    <li
      role="presentation"
      class="pointer"
      routerLink="/stepperFormCDK"
      routerLinkActive="active"
    >
      <a>Stepper Form CDK</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
